
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Add New Event</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
			<h1>Add New Event</h1>
		</header>
	<main>
	<p><a href="/">Home page</a></p>
	<p><a href="/secure">Secure page</a></p>
		<table>
			<p>This is the page to add new events. Only logged in users can see this.</p>
			<p>Right now it is empty, however this will be changed later.</p>
		</table>
	</main>
	</body>
</html>