
<!doctype html>

<html lang="en">
	<head>
    <script>
      function formdata() 
      {
        var firstname= document.getElementById("firstname").value;
        var lastname= document.getElementById("lastname").value;
        alert("The first name you entered is " + firstname);
        alert("The last name you entered is " + lastname);
      }
    </script>
		<meta charset="utf-8">
		<title>Add New Event</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
			<h1>Add New Event</h1>
		</header>
	<main>
	<p><a href="/">Home page</a></p>
	<p><a href="/secure">Secure page</a></p>
		<table>
			<p>This is the page to add new events. Only logged in users can see this.</p>
			<p>Right now it is empty, however this will be changed later.</p>
			<form><br>
        Enter your First Name: <input type="text" id="firstname"/><br><br>
        Enter your Last Name: <input type="text" id="lastname"/><br><br>
        <input type="submit" value="Submit" onclick="formdata()"/><br>
      </form>
		</table>
	</main>
	</body>
</html>